.homepage-hero .navbar-nav .nav-item .nav-link {
  color: #fff !important;
  font-family: Grotesk-Bold, sans-serif;
  font-size: 16px;
}

.homepage-header {
  height: 80%;
}

.homepage-hero {
  background: url(../../img/svg/hero-element.svg) no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: visible;
}


.homepage-hero .title {
  font-size: 65px;
  color: #47484C;
  letter-spacing: -0px;
  text-align: left;
  max-width: 70%;
  font-family: Grotesk-Bold, sans-serif;
}

.satochi-section {
  background: url(../../img/svg/satichi-background.svg) no-repeat top right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 1000px;
}

.satochi-section .title-area {
  top: 1%;
}

.satochi-title {
  font-family: 'Grotesk-SB', sans-serif;
  color: #fff;
  font-size: 42px;
  letter-spacing: -0px;
}

.title-heading {
  font-family: Grotesk-Bold, sans-serif;
  font-size: 65px;
  color: #fff;
  letter-spacing: -0px;
}

.title-section {
  font-family: 'Grotesk-SB', sans-serif;
  font-size: 42px;
  color: #47484c;
  letter-spacing: -0px;
}

.testimonials-content {
  width: 90%;
}

.box {
  -ms-flex: 0 0 500px;
  flex: 0 0 350px;
  padding-left: 15px;
  padding-right: 15px;
}

.testimonials-box {
  background-color: #e7ecff;
  max-width: 400px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.testimonials-title {
  font-size: 22px;
  font-family: Grotesk-Medium, sans-serif;
}

.testimonials-name {
  font-size: 22px;
  font-family: Grotesk-Bold, sans-serif;
}

.testimonials-text {
  font-size: 18px;
  font-family: Grotesk-Medium, sans-serif;
}

.cta-blue {
  background-color: #4a65c5;
  height: 600px;
}

.cta-content {
  max-width: 70%;
}

.homepage-footer {

}
.footer-image {
  position: relative;
  top: 1.5rem;
  z-index: -1;
}

.footer-title {
  font-size: 1rem;
  font-family: 'Grotesk-Bold', sans-serif;
  color: #47484C;
}

.footer-list a {
  color: #47484C;
  font-family: 'Grotesk-Medium', sans-serif;
  text-decoration: none !important;
}

.company {
  font-family: Grotesk-Medium, sans-serif;
  color: #afb2ba;
  font-size: 16px;
}
